.mt-25vh {
    margin-top: 25vh
}
.mt-70{
    margin-top: 100px;
    border: rgb(55, 194, 180)
}


.searchcolor {
    color:white;
    background-color: rgb(55, 194, 180);
    border: none;
    border-radius: 2px;
    padding: 10px 17px;
    /* block-size: 20px; */
    justify-content: center;
    /* justify-content: center; */
}

.searchcolor2 {
    color:white;
    background-color: rgb(55, 194, 180);
    border: none;
    border-radius: 2px;
    padding: 10px 17px;
    /* block-size: 20px; */
    justify-content: center;
    /* justify-content: center; */
}

.searchcolor:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.19),0 5px 5px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

.searchcolor1{
    color:white;
    background-color: rgb(55, 194, 180);
    border: none;
    width: 100%;
    border-radius: 4px;
    block-size: 38px;
}

.searchcolor1:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.19),0 5px 5px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

.searchcolor3{
    color:white;
    background-color: grey;
    border: none;
    width: 100%;
    border-radius: 4px;
    block-size: 38px;
}

.masukkls a{
    color:turquoise;
    text-decoration: none;
    letter-spacing: 1.5px;
    /* font-weight: bold; */
    font-size: 14px;
    /* text-align: right; */
}

.masukkls a:hover{
    color: rgb(55, 194, 180) !important;
    /* text-decoration: none */
}