.judul{
    margin: 80px;
    text-align: center;
    align-items: center;
    /* vertical-align: middle; */
}

.judull{
    text-align: left;
    /* vertical-align: middle; */
    border-top: solid 1px
}

.judull td {
    vertical-align: middle !important;
}

.judull p {
    margin-bottom: 0px;
}