.judul{
    margin: 80px;
    text-align: center;
    align-items: center;
    /* vertical-align: middle; */
}

.card{
    width: 350px;
}
.judull{
    /* text-align: left; */
    /* vertical-align: middle; */
    border-top: solid 1px
}

.judulsummary {
    margin: 80px;
    align-items: left;
}

.judull td {
    vertical-align: middle !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.judull h2 {
    margin-bottom: 0rem !important;
}

.judull p {
    margin-bottom: 0px ;
    text-align: justify
}


/* TOGGLE */
.containerr{
    margin-left: 300px;
    padding: 0 20px 20px;
    background:black
}

#videobar.active {
    margin-left: -300px;
    transition: all 100ms linear;
}

.deskripsii{
    margin-left: 300px
}

#deskripsi.active {
    margin-left: -300px;
}

#title.active {
    margin-left: -50px
}

/* BUTTON */
.nextcolor{
    color:white;
    background-color: rgb(55, 194, 180);
    border: none;
    width: 100px;
    border-radius: 4px;
    block-size: 50px;
}
.nextcolor:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.19),0 5px 5px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}


